<!-- 
    perguntas 2/2 
    Cabeçalho “Me fale mais de você:”
    “Data de Nascimento”
    “Celular”
    “Profissão”
    botão “<- Voltar”  e  botão “Finalizar” 
-->
<form action="">
    <div id="titulo-form2">
        <label>Me fale mais de você</label>
    </div>
    <div id="campo-nascimento">
        <Label>Data de nascimento</Label>
        <input type="date" name="" id="nascimento" required>
    </div>
    <div id="campo-celular">
        <Label>Celular</Label>
        <input type="tel" name="" id="celular" required>
    </div>
    <div id="campo-profissao">
        <Label>Profissão</Label>
        <input type="text" placeholder="Digite seu nome" required>
    </div>
    <div id="button-voltar">
        <button type="reset" id="voltar">Voltar</button>
    </div>
    <div id="button-final">
        <button type="submit" id="finalizar">Finalizar</button>
    </div>
</form>
