<app-first-component></app-first-component>
<br>
<app-app-form></app-app-form>
<br>
<app-finalmessage></app-finalmessage>


<!-- 
    Formulário devera ter:
    cabeçalho = “Vamos começar?”
    perguntas ½
    “nome completo”
    “email”
    “CPF” “Renda Principal”
    Botão= “Proximo” 
-->

<!-- 
    perguntas 2/2 
    Cabeçalho “Me fale mais de você:”
    “Data de Nascimento”
    “Celular”
    “Profissão”
    botão “<- Voltar”  e  botão “Finalizar” 
-->

<!-- 
    3/3
    AQUI NÃO ESPECIFICARAM SE PODE SER UMA PAG FALANDO DO FINAL DO FORM OU  
    SE DEVE SER UM ALERT/POPUP INFORMANDO SOBRE O FINAL DO CADASTRO
    Seu cadastro foi concluído com sucesso!

    Obrigado por suas informações.
    Agora é só aguardar que entraremos em contato com você pelo e-mail informado.

-->