<h2>Vamos começar?</h2>
<form action="">
    <div>
        <label>Vamos começar</label>
    </div>
    <div id="campo-nome">
        <Label>Nome completo</Label>
        <input type="text" placeholder="Digite seu nome" required>
    </div>
    <div id="campo-email">
        <label for="">E-mail</label>
        <input type="email" placeholder="seu@email.com" id="email" required>
    </div>
    <div id="campo-cpf">
        <label for="">CPF</label>
        <input type="number" placeholder="Digite só os números" minlength="11" maxlength="11" id="cpf" required>
    </div>
    <div id="campo-renda">
        <label for="">Renda Principal</label>
        <input type="text" name="" id="renda-principal" required>
    </div>
    <div id="button-proximo">
        <button type="submit" id="proximo">Próximo</button>
    </div>
</form>

<!-- 
    Formulário devera ter:
    cabeçalho = “Vamos começar?”
    perguntas ½
    “nome completo”
    “email”
    “CPF” “Renda Principal”
    Botão= “Proximo” 
-->